<main class="terms-overview-main">

  <section class="info">
    <h1 class="title">Map</h1>
    <h5 class="subsubtitle">House plan</h5>
  </section>

  <section class="details">
    <div class="details-image-container">
      <img src="assets/images/house.png" />
    </div>
    <div class="details-image-labels row">
      <div class="col-4"><button (click)="roomClicked('Bedroom 1')" class="details-image-labels-button btn btn-default">Bedroom 1</button></div>
      <div class="col-4"><button (click)="roomClicked('Kitchen')" class="details-image-labels-button btn btn-default">Kitchen</button></div>
      <div class="col-4"><button (click)="roomClicked('Bathroom')" class="details-image-labels-button btn btn-default">Bathroom</button></div>
      <div class="col-4"><button (click)="roomClicked('Bedroom 2')" class="details-image-labels-button btn btn-default">Bedroom 2</button></div>
      <div class="col-4"><button (click)="roomClicked('Bedroom 3')" class="details-image-labels-button btn btn-default">Bedroom 3</button></div>
      <div class="col-4"><button (click)="roomClicked('Living room')" class="details-image-labels-button btn btn-default">Living room</button></div>
    </div>
  </section>

</main>