<main class="about-main">

  <section class="intro section-1">
    <h1 class="title">Our team</h1>
    <h3 class="subtitle">
      <span>
        <fa-icon [icon]="['fas', 'quote-left']"></fa-icon>
      </span>
      None of us is as smart as all of us
      <span>
        <fa-icon [icon]="['fas', 'quote-right']"></fa-icon>
      </span>
      <span class="author">Ken Blanchard</span>
    </h3>
  </section>

  <section class="profiles section-1">
    <div class="row">
        <div class="col-md-3 profiles-section">
            <img class="profiles-image" src="assets/images/bart.png" />
            <p class="profiles-name"><a href="https://www.linkedin.com/in/rub%C3%A9n-cano-p%C3%A9rez-b5a60088/">Bart van Rooijen</a></p>
            <p class="profiles-description">Business Model</p>
        </div>
        <div class="col-md-3 profiles-section">
            <img class="profiles-image" src="assets/images/daniel.png" />
            <p class="profiles-name"><a href="https://www.linkedin.com/in/danimincam/">Daniel Mínguez Camacho</a></p>
            <p class="profiles-description">Business Model</p>
        </div>
        <div class="col-md-3 profiles-section">
            <img class="profiles-image" src="assets/images/panos.png" />
            <p class="profiles-name"><a href="https://www.linkedin.com/in/rub%C3%A9n-cano-p%C3%A9rez-b5a60088/">Panagiotis Michalopoulos</a></p>
            <p class="profiles-description">Business Model</p>
        </div>
        <div class="col-md-3 profiles-section">
            <img class="profiles-image" src="assets/images/javier.png" />
            <p class="profiles-name"><a href="https://www.linkedin.com/in/javierdlrm">Javier de la Rúa Martínez</a></p>
            <p class="profiles-description">Business Model</p>
        </div>
    </div>
  </section>

</main>
