<main class="home-intro-main">

  <section class="home-intro-header section-1">
    <img class="home-intro-logo" src="assets/images/logo.png">
    <h3 class="subtitle">Connect today, save tomorrow</h3>
  </section>

  <!-- <section class="home-intro-info section-3">
    <h4 class="home-intro-info-header">What our solution provides</h4>
    <ul class="home-intro-info-list">
      <li class="info">
        <span>
          <fa-icon [icon]="['fas', 'circle']"></fa-icon>
        </span>Overview of your consumptions</li>
      <li class="info">
        <span>
          <fa-icon [icon]="['fas', 'circle']"></fa-icon>
        </span>Control your expenses</li>
      <li class="info">
        <span>
          <fa-icon [icon]="['fas', 'circle']"></fa-icon>
        </span>Raise awareness</li>
      <li class="info">
        <span>
          <fa-icon [icon]="['fas', 'circle']"></fa-icon>
        </span>Contribute to climate change</li>
    </ul>
  </section> -->
</main>