<main class="terms-overview-main">

  <section class="info">
    <h1 class="title">Recommendations</h1>
  </section>

  <section class="details">
    <h5 class="subsubtitle">Potential actions</h5>
    <ngb-accordion class="details-accordion" [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
          <div class="details-accordion-header">
            <svg-icon class="details-accordion-header-icon" src="assets/svg/light.svg"
              [svgStyle]="{ 'width.px': 30, 'height.px': 30 }"></svg-icon>
            Empty room during 30 minutes. Consider to switch off the light of 'bedroom 2'.
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="details-accordion-content row no-gutters">
            <div class="col-md-8 m-0 p-0">
              <div class="row no-gutters">
                <div class="col-md-6">Energy consumption:<span> 15 watts</span> </div>
                <div class="col-md-6">Cost: <span> 0.10€ per KWh </span></div>
                <div class="col-md-12">Neighborhood ranking:<span> 13 out of 86</span></div>
              </div>
            </div>
            <div class="col-md-4 m-0 p-0 details-accordion-content-saving">
                <p class="details-accordion-content-saving-title">Estimated saving</p>
                <p class="details-accordion-content-saving-quantity">1.47€</p>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <div class="details-accordion-header">
            <svg-icon class="details-accordion-header-icon" src="assets/svg/drops.svg"
              [svgStyle]="{ 'width.px': 30, 'height.px': 30 }"></svg-icon>
            Tap in the 'bathroom' was left open.
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="details-accordion-content row no-gutters">
                <div class="col-md-8 m-0 p-0">
                  <div class="row no-gutters">
                    <div class="col-md-6">Energy consumption:<span> 15 watts</span> </div>
                    <div class="col-md-6">Cost: <span> 0.10€ per KWh </span></div>
                    <div class="col-md-12">Neighborhood ranking:<span> 13 out of 86</span></div>
                    
                  </div>
                </div>
                <div class="col-md-4 m-0 p-0 details-accordion-content-saving">
                    <p class="details-accordion-content-saving-title">Estimated saving</p>
                    <p class="details-accordion-content-saving-quantity">1.47€</p>
                </div>
              </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-3">
        <ng-template ngbPanelTitle>
          <div class="details-accordion-header">
            <svg-icon class="details-accordion-header-icon" src="assets/svg/heat.svg"
              [svgStyle]="{ 'width.px': 30, 'height.px': 30 }"></svg-icon>
            Heating system is too high for an non-frequent room. Consider to decrease the temperature 3 degrees in
            'bedroom 1'.
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="details-accordion-content row no-gutters">
                <div class="col-md-8 m-0 p-0">
                  <div class="row no-gutters">
                    <div class="col-md-6">Energy consumption:<span> 15 watts</span> </div>
                    <div class="col-md-6">Cost: <span> 0.10€ per KWh </span></div>
                    <div class="col-md-12">Neighborhood ranking:<span> 13 out of 86</span></div>
                    
                  </div>
                </div>
                <div class="col-md-4 m-0 p-0 details-accordion-content-saving">
                    <p class="details-accordion-content-saving-title">Estimated saving</p>
                    <p class="details-accordion-content-saving-quantity">1.47€</p>
                </div>
              </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <h5 class="subsubtitle">Considerable actions</h5>
    <ngb-accordion class="details-accordion" [closeOthers]="true">
      <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
          <div class="details-accordion-header">
            <svg-icon class="details-accordion-header-icon" src="assets/svg/light.svg"
              [svgStyle]="{ 'width.px': 30, 'height.px': 30 }"></svg-icon>
            Empty room during 30 minutes. Consider to switch off the light of 'bedroom 2'.
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="details-accordion-content row no-gutters">
                <div class="col-md-8 m-0 p-0">
                  <div class="row no-gutters">
                    <div class="col-md-6">Energy consumption:<span> 15 watts</span> </div>
                    <div class="col-md-6">Cost: <span> 0.10€ per KWh </span></div>
                    <div class="col-md-12">Neighborhood ranking:<span> 13 out of 86</span></div>
                    
                  </div>
                </div>
                <div class="col-md-4 m-0 p-0 details-accordion-content-saving">
                    <p class="details-accordion-content-saving-title">Estimated saving</p>
                    <p class="details-accordion-content-saving-quantity">1.47€</p>
                </div>
              </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <div class="details-accordion-header">
            <svg-icon class="details-accordion-header-icon" src="assets/svg/drops.svg"
              [svgStyle]="{ 'width.px': 30, 'height.px': 30 }"></svg-icon>
            Tap in the 'bathroom' was left open.
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="details-accordion-content row no-gutters">
                <div class="col-md-8 m-0 p-0">
                  <div class="row no-gutters">
                    <div class="col-md-6">Energy consumption:<span> 15 watts</span> </div>
                    <div class="col-md-6">Cost: <span> 0.10€ per KWh </span></div>
                    <div class="col-md-12">Neighborhood ranking:<span> 13 out of 86</span></div>
                    
                  </div>
                </div>
                <div class="col-md-4 m-0 p-0 details-accordion-content-saving">
                    <p class="details-accordion-content-saving-title">Estimated saving</p>
                    <p class="details-accordion-content-saving-quantity">1.47€</p>
                </div>
              </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-3">
        <ng-template ngbPanelTitle>
          <div class="details-accordion-header">
            <svg-icon class="details-accordion-header-icon" src="assets/svg/heat.svg"
              [svgStyle]="{ 'width.px': 30, 'height.px': 30 }"></svg-icon>
            Heating system is too high for an non-frequent room. Consider to decrease the temperature 3 degrees in
            'bedroom 1'.
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="details-accordion-content row no-gutters">
                <div class="col-md-8 m-0 p-0">
                  <div class="row no-gutters">
                    <div class="col-md-6">Energy consumption:<span> 15 watts</span> </div>
                    <div class="col-md-6">Cost: <span> 0.10€ per KWh </span></div>
                    <div class="col-md-12">Neighborhood ranking:<span> 13 out of 86</span></div>
                    
                  </div>
                </div>
                <div class="col-md-4 m-0 p-0 details-accordion-content-saving">
                    <p class="details-accordion-content-saving-title">Estimated saving</p>
                    <p class="details-accordion-content-saving-quantity">1.47€</p>
                </div>
              </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>

</main>