<div class="rating">
    <svg-icon *ngIf="rate > 0" class="rating-star" src="assets/svg/leaf.svg" [svgStyle]="{ 'width.px': starSize, 'fill':'rgb(58, 175, 169)', 'stroke':'rgb(58, 175, 169)' }"></svg-icon>
    <svg-icon *ngIf="rate <= 0" class="rating-star" src="assets/svg/leaf.svg" [svgStyle]="{ 'width.px': starSize, 'fill':'gray', 'stroke':'transparent'  }"></svg-icon>

    <svg-icon *ngIf="rate > 1" class="rating-star" src="assets/svg/leaf.svg" [svgStyle]="{ 'width.px': starSize, 'fill':'rgb(58, 175, 169)', 'stroke':'rgb(58, 175, 169)' }"></svg-icon>
    <svg-icon *ngIf="rate <= 1" class="rating-star" src="assets/svg/leaf.svg" [svgStyle]="{ 'width.px': starSize, 'fill':'gray', 'stroke':'transparent'  }"></svg-icon>

    <svg-icon *ngIf="rate > 2" class="rating-star" src="assets/svg/leaf.svg" [svgStyle]="{ 'width.px': starSize, 'fill':'rgb(58, 175, 169)', 'stroke':'rgb(58, 175, 169)' }"></svg-icon>
    <svg-icon *ngIf="rate <= 2" class="rating-star" src="assets/svg/leaf.svg" [svgStyle]="{ 'width.px': starSize, 'fill':'gray', 'stroke':'transparent'  }"></svg-icon>

    <svg-icon *ngIf="rate > 3" class="rating-star" src="assets/svg/leaf.svg" [svgStyle]="{ 'width.px': starSize, 'fill':'rgb(58, 175, 169)', 'stroke':'rgb(58, 175, 169)' }"></svg-icon>
    <svg-icon *ngIf="rate <= 3" class="rating-star" src="assets/svg/leaf.svg" [svgStyle]="{ 'width.px': starSize, 'fill':'gray', 'stroke':'transparent'  }"></svg-icon>

    <svg-icon *ngIf="rate > 4" class="rating-star" src="assets/svg/leaf.svg" [svgStyle]="{ 'width.px': starSize, 'fill':'rgb(58, 175, 169)', 'stroke':'rgb(58, 175, 169)' }"></svg-icon>
    <svg-icon *ngIf="rate <= 4" class="rating-star" src="assets/svg/leaf.svg" [svgStyle]="{ 'width.px': starSize, 'fill':'gray', 'stroke':'transparent'  }"></svg-icon>
</div>