@import "~src/styles/scss/partials/colors";

.terms-detail-wrapper {
  margin: 0.3rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  border: 1px solid #dee2e6;

  .terms-detail-content {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;

    .terms-detail-header {
      display: flex;
      flex-flow: row nowrap;

      .terms-detail-info {
        flex: 1 1;

        .terms-detail-title {
          text-align: left;
          font-weight: bold;
          padding: 0;
          text-transform: capitalize;
        }

        .rating {
          .rating-star {
            margin-right: 6px;
          }
        }
      }

      .terms-detail-icon {
        flex: 0 10;
      }
    }

    .terms-detail-body {
      margin-top: 14px;

      .description {
        margin: 0;
      }

      .terms-detail-concepts {
        ul {
          margin: 0;
          padding: 0;

          p {
            margin: 0;
            display: table;
            width: 100%;
            text-align: left;

            fa-icon {
              display: table-cell;
              vertical-align: middle;
              color: $palette-color-3;
              width: 16px;
              font-size: 8px;
            }

            .period {
              display: table-cell;
              vertical-align: middle;
              text-align: right;
              font-size: 1.2rem;
              font-weight: bold;
              color: $palette-color-1;
            }
          }
        }
      }
    }
  }

  .terms-grid-cell-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #dee2e6;
    padding: 0.2rem 0.8rem;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);

      .terms-grid-cell-footer-icon {
        color: $palette-color-2 !important;
      }
    }

    .terms-grid-cell-footer-label {
      flex: 1 1;

      p {
        margin: 0;
        font-size: 0.8rem;

        span {
          font-weight: bold;
        }
      }
    }

    .terms-grid-cell-footer-icon {
      flex: 0 0;
      font-size: 20px;
      color: $palette-color-3;
    }
  }
}
